page-message {
    .toolbar-title{
        margin-left: 20%;
    }
    .input-wrapper{
        width: 100%;
        height:50%;

      
    }
    .item-inner{
        width: 100%;
        height: 50%;
        border: none;
       
    }
    .item-md {
         padding-left: 0px;
         height:40px;
        }
    .item-md ion-avatar[item-right], .item-md ion-thumbnail[item-right], .item-md ion-avatar[item-end], .item-md ion-thumbnail[item-end] {
          margin: 0;
        
    }
    .item-md ion-thumbnail {
        min-width: 48px;
        min-height: 47.2px;
    }
}
