page-newpage {

}
ion-grid{
    border: 2px solid blue;
}
#f{
    background:skyblue;
}
img{
    width: 80%;
    height: 80%;
}
ion-title{
    margin-left: 30%;
}

ion-slides{
  height: auto;
}
ion-slide img{
    margin-left: 0;
    margin-top: 0;
}

#menu{
    width: 50%;
}
ion-grid{
    margin-top: 10px;
    border:1px solid gray;
}
